@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');


body{
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

h1{
    font-size: 60px;
    font-family: 'Segoe UI';
    font-weight: 200;
}

hr {
    border: 1.5px solid #B2784A;
    width: 50px;
    border-radius: 9px;
    margin-top: .1px;
    margin-bottom: 0px;
}

.flex-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.block-row{
    display: block;
    align-items: start;
    justify-content: space-evenly;
}

.border{
    border: 3px solid green;
}

.box {
    width: 83%;
    height: 100%;
}

nav{
    height: 150px;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #291505;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
}

.divsNav{ /*sou uma classe e posso ser reutilizada*/
    display: flex;
    width: 30%;
    align-items  : center; /*centraliza verticalmente*/
    justify-content: space-around; /*"espalha" horizontalmente*/

}

.divCenter{
    display: flex;
    flex-direction: column;
    align-items  : center; /*centraliza verticalmente*/
    justify-content: space-around;
}

#sobre-nos{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #F0F0F0;
    font-weight: 700;
    /*width: 71px;*/
    /*height: 22px;*/
    
}
#sobre-nos::after{
    content: '';
    background-color: #B2784A;
    width: 43px;
    height: 2px;
    border-radius: 1px;
    bottom: -5px;
}

#cafeteria{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #F0F0F0;
    font-weight: 700;
    /*width: 66px;
    height: 22px;*/
}
#cafeteria::after{
    content: '';
    background-color: #B2784A;
    width: 43px;
    height: 2px;
    border-radius: 1px;
    bottom: -10px;
}

#logo{
    width: 65px;
    height: auto;
}

#nome{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #F0F0F0;
    font-weight: 400;
    /*width: 138px;
    height: 22px;*/
}

#contato{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #F0F0F0;
    font-weight: 700;
    /*width: 60px;
    height: 22px;*/
}
#contato::after{
    content: '';
    background-color: #B2784A;
    width: 43px;
    height: 2px;
    border-radius: 1px;
    left: 1063px;
    bottom: -10px;
}

#phone-logo{
    width: 30px;
    height: auto;
    margin-right: 5px;
}

#telefone{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #F0F0F0;
    font-weight: 700;
    /*width: 90px;
    height: 22px;*/
}


#text1{
    font-size: 90px;
    font-family: "Open Sans", sans-serif;
    color: #F0F0F0;  
    font-weight: bold;
    width: 1300px;
    height: 228px;
    margin-top: 130px;
}

#text2{
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    color: #F0F0F0; 
    font-weight: 400px;
    width: 700px;
    height: 66px;
    margin-top: 60px;
}

#text3{
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    color: #F0F0F0; 
    font-weight: bold;
    width: 400px;
    height: 70px;
    text-align: left;
    margin-top: 80px;
    background-color: #8F542E;
    padding: 32px, 12px, 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}

.botao{
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8F542E;
    color: #F0F0F0;
    height: 70px;
    width: 300px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

#image{
    margin-top: 130px;
    width: 100%;
    height: 750px;
    background-size: cover;
    background-image: url(res/Imagem\ Cafes.png);
    background-position: center;
}


.fundoMarrom{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, transparent 50%, #FBC9A8 50%);
    padding: 0 10px;
    height: 42px;
}


#sobreNos{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: space-around;
    align-items: center;
}

#txtSobre{
    width: 589px;
    height: 170px;
    color: #1F0C00;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 50px;
}

#tituloSobre{
    font-weight: bold;
    font-size: 60px;
    color: #1F0C00;
    font-family: "Cormorant Garamond", serif;  
}

#botaoFale{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: -288px;
}

#containerSobre{
    margin-top: -40px;
    
}

#imageSobre{
    width: 400px;
    height: auto;  
}

#imgOnda img{
    margin-top: 0px;
    width: 100%; 
    height: 270px;  
    top: 100px; 
    background-size: cover;
    background-position: center;
}

#cafet{
    font-weight: bold;
    color: white; 
    font-size: 55px;
    margin: 0;
    position: relative;
    margin-top: 200px;
    font-family: "Cormorant Garamond", serif;
  
}
#cafet::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 60%;
    height: 3px;
    background-color: #B2784A;
    border-radius: 3px;
    transform: translateX(-50%);
}

.tituloItemCarrossel{
    font-weight: bold;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;

}

.itemCarrossel{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;

}

.carrosel {
    overflow: hidden;
    width: 100%;
    height: 500px; 
}
  
.carroselImg {
    display: flex;
    position: relative;
    width: 140%; 
    
}

.carroselImg img {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    margin-top: 10px;
}

#carrosselPrinc{
    margin-top: -140px;
    height: 800px; 
    background-color: #80451F;
}

#tituloCarrossel{
    display: flex; 
    justify-content: center;
    margin-bottom: 30px;
}

p {
    line-height: 1.6;
}

#brigadeiro{
    background-color: #F0F0F0;
    padding: 32px, 12px, 32px;
    display: flex;
    border-radius: 8px;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
}

#bolo{
    background-color: #F0F0F0;
    padding: 32px, 12px, 32px;
    display: flex;
    border-radius: 8px;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
}

#paodemel{
    background-color: #F0F0F0;
    padding: 32px, 12px, 32px;
    display: flex;
    border-radius: 8px;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
}

#sorvete{
    background-color: #F0F0F0;
    padding: 32px, 12px, 32px;
    display: flex;
    border-radius: 8px;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
}
