@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');


body{
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

h1{
    font-size: 60px;
    font-family: 'Segoe UI';
    font-weight: 200;
}

.linhaNav{
    border: 1.5px solid #B2784A;
    width: 50px;
    border-radius: 9px;
    margin-top: .1px;
    margin-bottom: 0px;
}

#navMobile{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

}

.linhaMenu{
    background-color: #B2784A;
    border: 1.5px solid #B2784A;
    width: 70px;
    height: 3px;
    border-radius: 9px;
    margin-top: 12px;
    margin-bottom: 0px; 
}

.flex-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-spaced{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.block-row{
    display: block;
    align-items: start;
    justify-content: space-evenly;
}

.border{
    border: 3px solid green;
}

.box {
    width: 83%;
    height: 100%;
}

nav{
    height: 150px;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #291505;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1000;
}

.divsNav{ /*sou uma classe e posso ser reutilizada*/
    display: flex;
    width: 30%;
    align-items  : center; /*centraliza verticalmente*/
    justify-content: space-around; /*"espalha" horizontalmente*/

}

.divCenter{
    display: flex;
    flex-direction: column;
    align-items  : center; /*centraliza verticalmente*/
    justify-content: space-around;
}

#sobre-nos{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #F0F0F0;
    font-weight: 700;
    cursor: pointer;
    /*width: 71px;*/
    /*height: 22px;*/
    
}
#sobre-nos::after{
    content: '';
    background-color: #B2784A;
    width: 43px;
    height: 2px;
    border-radius: 1px;
    bottom: -5px;
}

#cafeteria{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #F0F0F0;
    font-weight: 700;
    cursor: pointer;
    /*width: 66px;
    height: 22px;*/
}
#cafeteria::after{
    content: '';
    background-color: #B2784A;
    width: 43px;
    height: 2px;
    border-radius: 1px;
    bottom: -10px;
}

.logo{
    width: 65px;
    height: auto;
    transition-duration: 0.4s;
}

#nome{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #F0F0F0;
    font-weight: 400;
    transition-duration: 0.4s;
    
    /*width: 138px;
    height: 22px;*/
}

#contato{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #F0F0F0;
    font-weight: 700;
    cursor: pointer;
    /*width: 60px;
    height: 22px;*/
}
#contato::after{
    content: '';
    background-color: #B2784A;
    width: 43px;
    height: 2px;
    border-radius: 1px;
    left: 1063px;
    bottom: -10px;
}

#phone-logo{
    width: 30px;
    height: auto;
    margin-right: 5px;
}

#telefone{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #F0F0F0;
    font-weight: 700;
    /*width: 90px;
    height: 22px;*/
}

#menu{
    display: none;
}

#text1{
    font-size: 90px;
    font-family: "Open Sans", sans-serif;
    color: #F0F0F0;  
    font-weight: bold;
    width: 100%;
    height: 228px;
    margin-top: 130px;
    transition-duration: 0.4s;
}

#text2{
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    color: #F0F0F0; 
    font-weight: 400px;
    width: 50%;
    height: 66px;
    margin-top: 60px;
    transition-duration: 0.4s;
}

#botaoConhecer{
    width: 350px;
    height: 70px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

#textBotaoConhecer{
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    color: #F0F0F0; 
    font-weight: bold;
    width: 400px;
    height: 70px;
}

#botaoFale{
    font-family: "Open Sans", sans-serif;
    color: #F0F0F0; 
    font-weight: bold;
    display: flex;
    font-size: 25px;
}


.botao{
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8F542E;
    padding: 32px, 12px, 32px;
    height: 70px;
    width: 350px;
    cursor: pointer;
}

.botao:hover{
    display: flex;
    background-color: #CA8E67;
}

#header{
    margin-top: 130px;
    width: 100%;
    height: 750px;
    background-size: cover;
    background-image: url(res/Imagem\ Cafes.png);
    background-position: center;
    transition-duration: 0.4s;
}


.fundoMarrom{
    color: #FBC9A8;
    border: 15px solid #FBC9A8;
    margin-top: -90px;
    margin-left: -5px;
    z-index: -1;
    width: 320px;
}


#sobreNos{
    display: flex;
    width: 100%;
    height: 600px;
}

#txtSobre{
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #1F0C00;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    width: 60%;
    transition-duration: 0.4s;
}

#tituloSobre{
    font-weight: bold;
    font-size: 60px;
    color: #1F0C00;
    font-family: "Cormorant Garamond", serif;  
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}



#containerSobre{
    
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
}

#imageSobre{
    width: 500px;
    height: auto;  
}

#imgOnda{
    margin-top: 0px;
    width: 100%; 
    height: 270px;  
    top: 100px; 
    background-size: cover;
    background-position: center;
    transition-duration: 0.4s;
}

#cafet{
    font-weight: bold;
    color: white; 
    font-size: 55px;
    margin: 0;
    position: relative;
    margin-top: 200px;
    font-family: "Cormorant Garamond", serif;
  
}
#cafet::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 60%;
    height: 3px;
    background-color: #B2784A;
    border-radius: 3px;
    transform: translateX(-50%);
}

.tituloItemCarrossel{
    font-weight: bold;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    display: flex;
    margin-left: 20px;
}

.itemCarrossel{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    margin-left: 20px;
    margin-top: -15px;
}

.item{
    background-color: #F0F0F0;
    padding: 32px, 12px, 32px;
    display: flex;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
    height: 480px;
    transition-duration: 0.4s;
}
.item:hover {
    margin-bottom: 10px;
}

.carrosel {
    overflow: hidden;
    width: 100%;
    height: 500px; 
}
  
.carroselImg {
    display: flex;
    position: relative;
    width: 100%; 

    
}

.carroselImg img {
    width: 430px;
    height: 340px;
    border-radius: 10px;
    margin-top: 10px;
}

#carrosselPrinc{
    margin-top: -140px;
    height: 900px; 
    background-color: #80451F; 
    z-index: -1;
}

#tituloCarrossel{
    display: flex; 
    justify-content: center;
    margin-bottom: 30px;
    
}

#entreEmContato{
    height: 828px;
    margin-top: 128px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


#cabecalhoContato{
    margin-left: 45px;
    margin-top: -90px;
    transition-duration: 0.4s;
}


#tituloContato {
    color: #1F0C00;
    font-weight: bold;
    font-size: 60px;
    font-family: "Cormorant Garamond", serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition-duration: 0.4s;
}
  
.fundoMarrom2{
    color: #FBC9A8;
    border: 17px solid #FBC9A8;
    margin-top: -85px;
    margin-left: -1px;
    z-index: -1;
    width: 570px;
    transition-duration: 0.4s;
}


#flecha-esq{
    width: 30px;
    height: auto;
    cursor: pointer;
}

#flecha-dir{
    width: 30px;
    height: auto;
    cursor: pointer;
}

.boxInfo{
    width: 100%;
    margin-top: 50px;
    box-shadow: -5px 0px 10px -5px rgba(0.1, 0.1, 0.1, 0.2), 5px 0px 10px -5px rgba(0.2, 0.2, 0.3, 0.3);
}

.retangulo{
    width: 510px;
    height: 711px;
    background: #8F542E;
    box-shadow: -4px 7px 29px 6px #1F0C0033;
    border-radius: 8px 0px 0px 8px;
}

.icon-style{
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    flex-wrap: wrap;
}

#icon-position-first{
    display: flex;
    align-items: center;
    width: 47px;
    height: 47px;
    margin-top: 33px;
    margin-left: 30px;
}

.icon-position{
    position: relative;
    display: flex;
    align-items: center;
    width: 47px;
    height: 47px;
    left: 30px;
    top: 33px;
}

.logo-branca{   
    width: 127px;
    height: 162.03px;
    margin-top: 103px;
    margin-left: 162px;
}

.text-logo-branca{
    margin-left: 101px;
    white-space: nowrap;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    line-height: 39px;
    color: #F0F0F0;
    margin-bottom: 40px;
} 

.text-icons{
    width: 120px;
    height: 25px;
    white-space: nowrap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-left: 7px;
    
    color: #F0F0F0;
}

.linha{
    width: 348px;
    height: 3px;
    margin-left: 36px;
    margin-top: 56px;
    margin-bottom: -14px;
    background: #B2784A;
    border-radius: 3px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    margin-bottom: 0px;
}

.form{
    padding: 30px;
    background-color:#F5F3ED;
    font-weight: bold;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    max-width: 1000px;
}

input{
    display: flex;
    border: 3px solid #8F542E;
    border-radius: 5px;  
    height: 80px;
    margin-bottom: 10px;
    margin-top: -20px;
}

input[type="text"],
input[type="email"]{
    display: flex;
    width: 100%; 
    height: 45px; 
    margin-bottom: 20px;
}

textarea {
    display: flex;
    border: 3px solid #8F542E;
    border-radius: 5px;  
    height: 80px;
    margin-bottom: 10px;
    margin-top: -20px;
    width: 800px;
}

textarea[name="message"] {
    display: flex;
    width: 100%; 
    height: 200px; 
    margin-bottom: 20px;
}

#botaoMsg {
    display: flex;
    color: #F0F0F0;
    border-radius: 5px;
    align-items: center;
    text-decoration: none;
    background-color: #8F542E;
    justify-content: space-around;
    height: 50px;
    width: 230px;
    font-size: 17px;
    font-weight: 800;
    padding: 0px 15px;
    cursor: pointer;
}

#botaoMsg:hover{
    display: flex;
    background-color: #CA8E67;
}

.box-nos-encontre-aqui{
    display: none;
}

.text-nos-encontre{
    display: none;
}

.box-icons{
    display: none;
}

footer{
    background-color: #57290B;
    color: #ffdab8;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px 110px;
    transition-duration: 0.4s;
}

#menuAberto{
    display: none;
}

@media only screen and (max-width: 1480px){

    #text1{
        font-size: 50px;
    }

    #text2{
        font-size: 30px;
        margin-top: -20px;
    }
}

@media only screen and (max-width: 1200px){

    #sobre-nos{
        display:none;
    }
    #cafeteria{
        display: none;
    }
    #contato{
        display: none;
    }
    #phone-logo{
        display: none;
    }
    #telefone{
        display: none;
    }
    .linhaNav{
        display: none;
    }
    #logoNav{
        display: flex;
        flex-direction: row;
    }
    #menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }
    #nome{
        display: flex;
        width: 400px;
        justify-content: space-evenly;  
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }


    #text1{
        font-size: 80px;
    }

    #text2{
        font-size: 0px;
    }

    #imageSobre{
        display: none;
    }

    #txtSobre{
        font-size: 22px;
    }

    #botaoFale{
        justify-content: center;
    }

    .retangulo{
        display: none;
    }

    .box-nos-encontre-aqui{
        display: flex;
        height: 300px;
        margin-top: -250px;
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }
    
    .text-nos-encontre{
        display: flex;
        white-space: nowrap;
        width: 600px;
        height: 100px;
        margin-top: 70px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        color: #1F0C00;
        align-items: center;
    }
    
    .box-icons{
        display: flex;
        list-style-type: none;
        width: 500px;
        height: auto;
        justify-content: space-between;
        align-items: center;
    }

    #facebook2{
        width: 120px;
        height: auto;
    }
    #insta2{
        width: 120px;
        height: auto;
    }
    #telefone2{
        width: 120px;
        height: auto;
    }

    footer{
        background-color: #57290B;
        color: #ffdab8;
        font-family: "Open Sans", sans-serif;
        font-size: 25px;
        padding: 40px 110px;
        display: flex;
        flex-direction: column;
    } 

    #imgOnda{
        content: url("res/onda2.png");
        height: 210px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 950px){
    #text1{
        font-size: 60px;
    }

    #header{
        height: 620px;
    }

    #imgOnda{
        height: 190px;
    }

    #txtSobre{
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px){
    
    #txtSobre{
        font-size: 19px;
    }

    #tituloContato{
        font-size: 55px;
    }

    .fundoMarrom2{
        border: 12px solid #FBC9A8;
        width: 540px;
        margin-top: -80px;
    }

    #cabecalhoContato{
        margin-left: 30px;
    }

    footer{
        padding: 10px 110px;
        font-size: 20px;
        margin-left: -30px;
    }
   
    #nome{
        font-size: 35px;
    }  

}
